header {
    background-color: rgb(37, 150, 190);
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.logo {
    width: 200px;
    background-position: bottom left;
}
