header {
    background-color: rgb(37, 150, 190);
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    width: 200px;
    background-position: bottom left;
}

h1 {
    font-size: 40px;
    margin: 0;
}

.subtext, .subtext-date {
    color: rgb(143, 134, 134);
}

.subtext-date {
    font-size: 10px;
}

section span {
    color: rgb(41, 158, 197);
}

figure {
    margin-left: 0;
    font-size: 10px;
}

ul {
    padding-left: 15px;
}

table {
    text-align: left;
    border-spacing: 0px;
    border-collapse: separate;
}

thead {
    color: white;
    background-color: rgb(37, 150, 190);
}

.blue-row {
    background-color: rgb(148, 208, 230);
}

footer span {
    color: rgb(117, 116, 116);
}

.footer_computer {
    background-image: url(../img/monitor.jpg);
}
.footer_graph {
    background-image: url(../img/graph.jpg);
}

footer div {
    color: white;
    text-align: justify;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
    margin-top: 10px;
}